@import url(reset.css);

:root {
  color-scheme: light dark;
  --card-bkg-color: rgb(245, 245, 245);
  --soft-gray-color: hsl(255, 5%, 84%);
  --dark-black-color: hsl(231, 12%, 12%);
  --link-underline-color: rgb(134, 189, 236);
}

* {
  font-size: 18px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(228, 4%, 27%);
}

.wrapper {
  max-width: 550px;
  background-color: #23252C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

main {
  background-color: var(--card-bkg-color);
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding-bottom: 1.6rem;
  width: 317px;
  margin: 60px auto 0 auto;
}

main h1 {
  font-weight: 600;
  font-size: 1.5625rem;
}

main h3 {
  color: #F47D27;
  font-size: 0.8rem;
  font-weight: 400;
}

.image {
  width: 317px;
  height: 317px;
  margin-bottom: 1.2rem;
}

.portrait {
  width: 100%;
  max-height: 317px;
  object-fit: cover;
  object-position: 0 60%;
  border-radius: 10px 10px 0 0;
}

h4 {
  font-weight: 400;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

details {
  margin-bottom: 1.2rem;
  cursor: pointer;
}

summary {
  padding: .4rem;
}

.qr-heading {
  font-size: .8rem;
  font-weight: 400;
  margin: 0;
  color: #b84545;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  background-color: #FFF;
  color: #23252C;
  border: 1px solid #D1D5DB;
  min-width: 115px;
  height: 34px;
  border-radius: 6px;
  font-size: 0.875rem;
  cursor: pointer;
  /* Testing comment */
}

.linkedin {
  background-color: #297FE5;
  color: var(--card-bkg-color);
}

button i {
  margin-right: .4rem;
  vertical-align: baseline;
}

button:hover {
  border: 1px solid hsla(19, 66%, 63%, 0.698);
}

.more-info {
  background-color: var(--card-bkg-color);
  width: 317px;
  /* display: flex;
  flex-wrap: wrap; */
  margin: 0 auto;
  padding: 1rem 1.6rem;
}

.more-info h2 {
  font-size: 1rem;
  margin-bottom: .2rem;
}

.more-info p {
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.2rem;
}

a,
a:visited {
  text-decoration-color: var(--link-underline-color);
  color: rgb(51, 50, 50);
  font-size: .75rem;
}

a,
a:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

a:hover {
  text-decoration-color: rgb(223, 138, 98);
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--soft-gray-color);
  width: 317px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
}

footer ul {
  display: flex;
  gap: 1.6rem;
  padding: 0;
}

.social-media {
  width: 25px;
  height: 25px;
}

footer li {
  list-style: none;
}

.twitter svg:hover {
  fill: hsla(204, 88%, 53%, 0.367);
}

.youtube svg:hover {
  fill: hsla(10, 86%, 49%, 0.567);
}

.instagram svg:hover {
  fill: hsla(16, 77%, 57%, 0.666);
}

.github svg:hover {
  fill: hsla(0, 0%, 0%, 0.358);
}


/* Auto switching theme based on user/system prefrences */
@media (prefers-color-scheme: dark) {
  body,
  a,
  a:visited {
    color: var(--soft-gray-color);
  }

  main,
  .more-info {
    background-color: var(--dark-black-color);
  }

  button {
    background-color: var(--soft-gray-color);
    border: none;
    color: var(--dark-black-color);
  }
}
